{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">{% trans "Start a room" %}</h3>
                        </div>

                        <div class="card-body">
                            <p>
                                Room <strong>{{ room }}</strong> is configured as <strong>{{ room.config }}</strong>
                                with the following parameters. If you need a different configuration feel free to modify
                                the parameters and press start.
                            </p>
                            {% crispy form %}
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
